<nav>
    <ul>
        <li><a href="{{ path('app_home') }}">Home</a></li>
        <li><a href="{{ path('app_about') }}">About</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </ul>
</nav>
