{% extends 'base.html.twig' %}

{% block title 'About' %}

{% block body %}
    <h1>About</h1>

    <p>
        Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Repudiandae, aliquam ipsum. Neque eos officia cupiditate, nam omnis quis dolorem perferendis voluptatem eius, veniam magni praesentium consequatur at quae quibusdam laboriosam.
    </p>

    <p><a href="https://parlonscode.com">Go to Parlons Code</a></p>
{% endblock %}
