{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home</h1>
    <p>
        Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Repudiandae, aliquam ipsum. Neque eos officia cupiditate, nam omnis quis dolorem perferendis voluptatem eius, veniam magni praesentium consequatur at quae quibusdam laboriosam.
    </p>
{% endblock %}
