<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello Symfony UX Turbo{% endblock %}</title>

        {% block meta %}{% endblock %}
            
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <style>
                .turbo-progress-bar {
                  height: 10px;
                  background-color: orange;
                }

                .alert-success {
                    color: green;
                    font-weight: bold;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="module">
                import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo';
            </script>
        {% endblock %}
    </head>
    <body>
        {{ include('partials/_nav.html.twig') }}

        <hr>
        
        <main role="main">
            {{ include('partials/_flash_messages.html.twig') }}

            {% block body %}{% endblock %}
        </main>
    </body>
</html>
