<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello Symfony UX Turbo{% endblock %}</title>

        {% block meta %}{% endblock %}
            
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('partials/_nav.html.twig') }}

        <hr>
        
        <main role="main">
            {{ include('partials/_flash_messages.html.twig') }}

            {% block body %}{% endblock %}
        </main>
    </body>
</html>
