{% extends 'base.html.twig' %}

{% block title 'Contact' %}

{% block meta %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <div id="contact">
        {{ include('messages/_form.html.twig') }}
    </div>
{% endblock %}
