<turbo-stream action="replace" target="contact">
  <template>
    <div class="alert-success">
      Thanks "{{ name }}" for your message. We'll get back to you soon.
    </div>
  </template>
</turbo-stream>
